@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit/Kanit-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit";
}

body {
    user-select: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 96%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 0;
    width: 100vw;
    backdrop-filter: blur(20px);
    color: white;
    z-index: 999999;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header div.logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header .logo img {
    width: 96px;
    height: 52px;
}

header nav.desktop {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header nav.desktop a {
    color: white;
    text-decoration: none;
    position: relative;
}

header nav.desktop a::before {
    content: "";
    width: 0;
    position: absolute;
    height: 2px;
    background-color: white;
    top: 100%;
    transition: width 0.3s ease;
}

header nav.desktop a:hover::before {
    width: 100%;
}

section {
    min-height: 100vh;
}

/* Styling hero section */

section.hero {
    background-image: url('../assets/images/auckland-img.jpg');
    background-size: cover;
}

section.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

section.hero .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

section.hero .content::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-2);
    border-radius: 50%;
    box-shadow: 0 0 200px 200px var(--color-2);
    opacity: 0.3;
}

section.hero .text {
    width: 60%;
    color: white;
    position: relative;
    z-index: 999;
    font-size: 1.2rem;
}

section.hero .text h1 {
    font-size: 6rem;
    color: white;
    font-weight: bold;
    line-height: 5rem;
    margin-bottom: 0;
}

section.hero .content h1 > span,
header .logo h1 > span {
    color: var(--color-4);
}

section.hero .content .flag {
    width: 60%;
    max-height: 300px;
    aspect-ratio: 16 / 9;
    position: relative;
    z-index: 9999;
}

section.hero .content .flag img {
    width: 100%;
    border-radius: 1rem;
}

/* Styling about section */

section.about {
    padding: 8rem 0;
    position: relative;
    background-image: linear-gradient(var(--color-2), var(--color-1));
}

section.about::before {
    height: 150px;
    content: "";
    background-image: linear-gradient(transparent, var(--color-2));
    position: absolute;
    top: -149px;
    width: 100%;
    left: 0;
}

.sectionHeader {
    font-size: 4rem;
    color: white;
    text-align: center;
    position: relative;
    z-index: 30;
}

.content-row {
    color: white;
    padding: 4rem 0;
    position: relative;
    z-index: 999;
}

.content-row h1 {
    font-size: 3.5rem;
    color: var(--color-4);
}

.content-row .contentFlex {
    display: flex;
    gap: 4rem;
}

.cardRow {
    display: flex;
    gap: 2rem;
}

.cardSingle {
    max-width: 500px;
    min-width: 40%;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    background-position: center;
}

.cardSingle::after {
    content: "";
    width: calc(100% + 2px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.3s ease-in-out;
}

.cardSingle:hover::after {
    backdrop-filter: blur(10px);
}

.cardSingle .content {
    position: absolute;
    bottom: -90%;
    transition: bottom 0.3s ease-in-out;
    color: var(--color-4);
    width: 80%;
    z-index: 2;
}

.cardSingle:hover .content {
    bottom: 0;
}

/* Styling Learn More section */

section.learnMore {
    background-image: url("../assets/images/new-zealand-nowadays.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--color-1);
    background-blend-mode: multiply;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

section.learnMore::before {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 200;
    background-image: linear-gradient(transparent, var(--color-1));
    top: -149px;
}

section.learnMore::after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 10;
    background-image: linear-gradient(var(--color-1), transparent);
    top: 0px;
}

section.learnMore .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
}

.optionsRow {
    margin: 0 auto;
    text-align: center;
}

.optionCardSingle {
    display: inline-block;
    padding-left: -5px;
    padding: 2rem;
    text-align: center;
}

.optionCardSingle .img {
    display: block;
    width: 240px;
    height: 240px;
    background-color: #ccc;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.optionCardSingle .img:hover {
    transform: scale(1.1);
}

.optionCardSingle p {
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
}

/* Styling footer */

footer {
    padding: 7rem 0;
    background-color: var(--color-1);
    color: white;
    position: relative;
}

footer::before {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 200;
    background-image: linear-gradient(transparent, var(--color-1));
    top: -149px;
}

footer > .container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialRow {
    display: flex;
    gap: 2rem;
}

.socialBtn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: white;
    font-size: 1.5rem;
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transform: scale(1);
}

.flexReverse {
    flex-direction: row-reverse;
}

.socialBtn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 12px -2px white;
}

@media screen and (max-width: 1100px) {
    section.hero .content {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    section.hero .text {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .contentFlex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-row {
        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    section.hero .text h1 {
        line-height: 4rem;
        font-size: 4rem;
    }
    
    .sectionHeader {
        font-size: 3.7rem;
    }
}

@media screen and (max-width: 560px) {
    section.hero .text h1 {
        line-height: 3rem;
        font-size: 3rem;
    }
}