@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit/Kanit-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit";
}

.blurElement {
    transform: scale(1.01);
}

body {
    user-select: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 96%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 0;
    width: 100vw;
    backdrop-filter: blur(200px);
    color: white;
    z-index: 999999;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header div.logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header .logo img {
    width: 96px;
    height: 52px;
}

header nav.desktop {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header nav.desktop a {
    color: white;
    text-decoration: none;
    position: relative;
}

header nav.desktop a::before {
    content: "";
    width: 0;
    position: absolute;
    height: 2px;
    background-color: white;
    top: 100%;
    transition: width 0.3s ease;
}

header nav.desktop a:hover::before {
    width: 100%;
}

section {
    min-height: 100vh;
}

/* Styling 1st section */

section.hero {
    background-image: url('../assets/images/auckland-img.jpg');
    background-size: cover;
}

/* section.hero #auckland-front {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#auckland-front img {
    width: 100%;
    height: 100vh;
} */

section.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

section.hero .content {
    display: flex;
    gap: 4rem;
    position: relative;
}

section.hero .content::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-2);
    border-radius: 50%;
    box-shadow: 0 0 200px 200px var(--color-2);
    opacity: 0.3;
}

section.hero .text {
    width: 60%;
    color: white;
    position: relative;
    z-index: 999;
    font-size: 1.2rem;
}

section.hero .text h1 {
    font-size: 6rem;
    color: white;
    font-weight: bold;
    line-height: 5rem;
    margin-bottom: 2rem;
}

section.hero .content h1 > span,
header .logo h1 > span {
    color: var(--color-4);
}

section.hero .content .flag {
    width: 40%;
    max-height: 300px;
    aspect-ratio: 16 / 9;
    position: relative;
    z-index: 9999;
}

section.hero .content .flag img {
    width: 100%;
    height: 100%;
}

/* Styling history section */

section.history {
    padding: 8rem 0;
    position: relative;
    background-image: linear-gradient(var(--color-2), var(--color-1));
}

section.history::before {
    height: 150px;
    content: "";
    background-image: linear-gradient(transparent, var(--color-2));
    position: absolute;
    top: -150px;
    width: 100%;
    left: 0;
}

.sectionHeader {
    font-size: 4rem;
    color: white;
    text-align: center;
    position: relative;
    z-index: 30;
}

.content-row {
    color: white;
    padding: 4rem 0;
}

.content-row h1 {
    font-size: 3.5rem;
    color: var(--color-4);
}

.content-row .contentFlex {
    display: flex;
    gap: 4rem;
}

.cardRow {
    display: flex;
    gap: 2rem;
}

.cardSingle {
    min-width: 500px;
    width: 50%;
    min-height: 300px;
    background-size: 100%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    transition: background-size 0.3s ease-in-out;
}

.cardSingle::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.3s ease-in-out;
}

.cardSingle:hover {
    background-size: 105%;
}

.cardSingle:hover::after {
    backdrop-filter: blur(10px);
}

.cardSingle .content {
    position: absolute;
    bottom: -100px;
    transition: bottom 0.3s ease-in-out;
    color: var(--color-4);
    z-index: 2;
}

.cardSingle:hover .content {
    bottom: 0;
}

/* WW2 section */

.ww2 {
    min-height: 100vh;
    background-image: url('../assets/images/new-zealand-ww2.jpg');
    background-position: center;
    background-blend-mode: multiply;
    background-color: var(--color-1);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ww2::before {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 200;
    background-image: linear-gradient(transparent, var(--color-1));
    top: -150px;
}

.ww2::after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 10;
    background-image: linear-gradient(var(--color-1), transparent);
    top: 0px;
}